@charset "UTF-8";

/* main font: https://pangrampangram.com/products/stellar-sans?variant=32840647049270 */
@font-face {
	font-family: 'main';
	src: url('Fonts/Stellar/Stellar-light.otf');
}

/* decorative font: https://befonts.com/ailerons-typeface.html */
@font-face {
	font-family: 'logo';
	src: url('Fonts/ailerons/Ailerons-Typeface.otf');
}


/* default settings */
* {
	font-family: 'main', sans-serif;
	letter-spacing: 1px;
}

.center {
	text-align: center;
}

.logo {
	font-family: 'logo', sans-serif;
	font-weight: normal;
	margin: 0;
	letter-spacing: 5px;
	line-height: 0.9em;
	padding: 0;
}

.logo:hover {
	cursor: default;
}

.lock {
	overflow: hidden;
}

#background-video {
	position: absolute;
	z-index: -100;
}

.video-overlay {
	background:rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

body {
	color: #f5f5f5;
	margin: 0;
	padding: 0;
	background: #000;
	background-image: url("Images/background.mp4");
	overflow-x: hidden;
}


/* top navigation bar */

/* help with flexbox from 
https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-properties */

.navbar {
	width: 100%;
	margin: 0;
	padding: 7px 0;
	background: linear-gradient(to bottom, rgba(4, 7, 10, 0.7), rgba(4, 7, 10, 0));
	position: absolute;
	z-index: 9;
	top: 0;
	display: flex;
	justify-content:space-between;
	flex-direction: row;	
}

.navbar .logo-container {
	border-right: 5px whitesmoke solid;
	border-width: 3px;
	width: 10em;
	padding: 5px 0.5em 5px 2em;
	position: relative;
	z-index: 10;
	display: inline-block;
}

.logo-container p {
	font-size: 2em;
	text-align: right;
}

.navbar ul {
	margin: 0;
	padding: 0;
	z-index: 10;
	display: inline-flex;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.navbar ul li {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	flex: 1;
}

.navbar ul li > a {
	color: whitesmoke;
	text-decoration: none;
}

.navbar ul li > ul {
	background: linear-gradient(to left, rgba(247, 185, 69, 0) 95%, rgba(18, 219, 255, 0.6));
	position: absolute;
	top: 100%;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}

.navbar ul li > ul li {
	width: 100%;
	padding: 1.5em 0 1.5em 0;
	flex: 1;
}

.navbar ul li:hover {
	background: linear-gradient(to left, rgba(255, 160, 18, 0.6) 0%, rgba(255, 255, 255, 0) 5% 95%, rgba(18, 219, 255, 0.6) 100%);
	cursor: pointer;
}

.navbar ul li:hover > ul {
	display: flex;
}

.navbar ul li > ul li:hover {
	background: linear-gradient(to right, rgba(247, 185, 69, 0) 95%, rgba(255, 160, 18, 0.6));
}

.current {
	border-bottom: whitesmoke solid 1px;
	padding-bottom: 5px;
}

.parent {
	border-bottom: whitesmoke dashed 1px;
}


#titlepage {
	position: absolute;
	width: 100%;
	top: 28%;
	margin-top: 5em;
	text-align: center;
	z-index: 3;
}

#titlepage h1 {
	font-size: 10vw;
}

#titlepage h2 {
	font-size: 1.5vw;
}

/* Content Page */

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header h1 {
	font-size: 8vw;
}

/* box shadows from https://getcssscan.com/css-box-shadow-examples */

.content-wrapper {
	position: relative;
	left: 0;
	background-color: rgb(4, 7, 10);
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.horizontal-banner {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	position: relative;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-content {
	min-width: 30em;
	flex: 1.5;
	padding: 3.5em;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.notecard {
	height: fit-content;
	padding: 5em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* color scheme created with help from Zoe :) */
.light-tan {
	background-color: #ece2d4;
	color: rgb(4, 7, 10);
}

.light-blue {
	background-color: #4890c0;
	color: rgb(4, 7, 10);
}

.light-orange {
	background-color: #eb9770;
	color: rgb(4, 7, 10);
}

.medium-blue {
	background-color: #187890;
}

.medium-orange {
	background-color: #f06030;
}

.dark-blue {
	background-color:#283552;
	color: whitesmoke;
}

.dark-orange {
	background-color: #b34a19;
	color: whitesmoke;
}

.side-content {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: none;
	min-width: 20em;

}

.square-container {
	flex-grow: 1;
	width: 18em;
	height: 20em;
	justify-content: center;
	display: flex;
	padding: 5em;
}

.circle {
	width: 100%;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-content h2 {
	align-self: center;
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 150;
	margin: 0;
}

.main-content h1 {
	align-self: center;
	padding-top: 1.75em;
	font-size: 3em;
	font-weight: 450;
	color: #203c4b;
}

.subheading {
	height: 20em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subheading h1 {
	font-family: 'logo';
	font-size: 5em;
}

.split-content {
	display: flex;
	flex-flow: column wrap;
	min-width: 30em;
	flex: 1;
	padding: 3.5em;
	justify-content: center;
	align-items: center;
}

.full-content {
	padding: 5em 25%;
	flex: 1;
	justify-content: center;
	align-items: center;

}

.text-wrapper {
	line-height: 1.75em;
}

.image-wrapper {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	height:fit-content;
	width: fit-content;
	margin-top: 2em;
}