@charset "UTF-8";

/* main font: https://www.jetbrains.com/lp/mono/ */

@font-face {
	font-family: 'main';
	font-weight: normal;
	src: url('Fonts/JBMono/JetBrainsMono-Light.woff2');
}

@font-face {
	font-family: 'main';
	font-weight: 900;
	src: url('Fonts/JBMono/JetBrainsMono-Bold.woff2');
}

@font-face {
	font-family: 'main';
	font-weight: bold;
	src: url('Fonts/JBMono/JetBrainsMono-Regular.woff2');
}

/* decorative font: https://befonts.com/ailerons-typeface.html */
@font-face {
	font-family: 'logo';
	src: url('Fonts/ailerons/Ailerons-Typeface.otf');
}

:root {
	--gold: #FFC66D;
	--base: #2B2B2B;
	--base-light: #323232;
	--base-lighter:#454545;
	--base-lightest:#505050;
	--purple: #9876AA;
	--plaintext: rgb(230, 230, 230);
	--green: #619647;
	--light-green: #A5C25C;
	--orange: #CB772F;
	--blue: #6897BB;
}

/* default settings */
* {
	font-family: 'main', sans-serif;
}

body {
	color: var(--plaintext);
	margin: 0;
	background: var(--base);
	background-image: url("Images/background.mp4");
	overflow-x: hidden;
}

.center {
	text-align: center;
}

.lock {
	overflow: hidden;
}

.logo {
	font-family: 'logo', sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	letter-spacing: 5px;
	line-height: 0.9em;
}

.logo:hover {
	cursor: default;
}

#background-video {
	position: fixed;
	z-index: -1000000;
	top: 0;
}

.video-overlay {
	background:rgba(4, 7, 10, 0.7);
	position: fixed;
	z-index: -999999;
	width: 100vw;
	height: 100vh;
}

/* top navigation bar */

/* help with flexbox from 
https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-properties */

.current {
	color: var(--gold);
}

nav {
	width: 100%;
	margin: 0;
	padding: 7px 0;
	background-image: linear-gradient(to bottom, rgba(4, 7, 10, 0.7), rgba(213, 230, 247, 0));
	display: flex;
	justify-content:space-between;
	flex-direction: row;	
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(255, 160, 18, 0.75) 0%, rgba(4, 7, 10, 0) 5% 95%, rgba(18, 219, 255, 0.75) 100%);
	opacity: 0;
	transition: 0.6s cubic-bezier(0.68, 0.21, 0.35, 0.89);
}

nav #logo-container {
	border-right: 5px whitesmoke solid;
	border-width: 2px;
	width: 10em;
	padding: 5px 0.5em 5px 0.7em;
}

#logo-container p {
	font-size: 2em;
	font-weight: 100;
	text-align: right;
}

#nav-links {
	margin: 0;
	padding: 0;
	z-index: 10;
	display: flex;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

#nav-links li {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	flex: 1;
	padding: 0 5px;
}

#nav-links > li:hover > a .bg {
	cursor: pointer;
	opacity: 100%;
}

#nav-links li > p {
	color: var(--plaintext);
	text-decoration: none;
	font-weight: 900;
	font-size: 1.1em;
}

#nav-links li > p span:not(.current){
	color: #A9B7C6;
}

#nav-links > li:hover > .subnav {
	opacity: 100%;
	top: 100%;
	transition: 1.5s;
}



.subnav {
	background: linear-gradient(to right, rgba(4, 7, 10, 0) 95%, rgba(18, 219, 255, 0.75));
	position: absolute;
	top: -300%; /* change */
	display: flex;
	opacity: 0;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	padding: 0;
}


.subnav li {
	width: 100%;
	padding: 0;
	flex: 1;
}

.subnav li:hover {
	background: linear-gradient(to left, rgba(4, 7, 10, 0) 95%, rgba(255, 160, 18, 0.75) 100%);
}


@media screen and (max-width: 1200px) {
	#nav-links {
		position: fixed;
		top: 0;
		background: var(--base);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		z-index: 150;
		display: none;
	}

	.line {
		width: 30px;
		height: 3px;
		background: var(--plaintext);
		margin: 5px;
	}
	
	.shorter {
		width: 23px;
	}

	.shortest {
		width: 10px;
	}

	.hamburger {
		margin: 1em;
	}
}

#title {
	width: 100%;
	text-align: center;
	margin-top: 32vh;
}

#title h1 {
	font-size: 10vw;
	margin-top: 0.1em;
}

#title h2 {
	font-size: 1.5vw;
}

/* Content Page */

/* box shadows from https://getcssscan.com/css-box-shadow-examples */

.content-wrapper {
	position: absolute;
	top: 100vh;
	background-color: var(--base);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.horizontal-banner {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
}

.horizontal-banner a {
	color: var(--orange);
	text-decoration: none;
	transition: 0.5s;
}

.horizontal-banner a:hover {
	color: var(--gold);
}

.heading {
	padding: 1em;
	border-top: var(--plaintext) solid 4px;
	justify-content: flex-start;
}

.heading h2 {
	font-size: max(2vw, 1em);;
}

.heading h1 {
	font-size: max(3vw, 1.5em);
}

.notecard {
	height: fit-content;
	padding: 5em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* color scheme created with help from Zoe :) */
.light-tan {
	background-color: #ece2d4;
	color: var(--base);
}

.light-blue {
	background-color: #4890c0;
	
}

.light-orange {
	background-color: #eb9770;
	color: var(--base);
}

.medium-blue {
	background-color: #187890;
}

.medium-orange {
	background-color: #f06030;
}

.dark-blue {
	background-color:#283552;
	
}

.dark-orange {
	background-color: #b34a19;
}

.method {
	color: var(--gold);
}

.off-white {
	color: #A9B7C6;
}

.keyword {
	color: var(--orange);
}

.const {
	color: var(--purple);
}

.comment {
	color: var(--green);
}

.string {
	color: var(--light-green);
}

.num {
	color: var(--blue);
}

.base {
	background: var(--base);
}

.base-light {
	background: var(--base-light);
}

.base-purple-muted {
	background: #262427;
}

.base-purple {
	background: var(--green);
	color: var(--base);
}

.base-orange {
	background: #292522;
}

.base-green {
	background: #282928;
}

.grey-to-orange {
	background: linear-gradient(to bottom, #323232 , #383229);
}

.orange-to-purple {
	background: linear-gradient(to bottom, #383229, #262427);
}

.circle {
	width: 100%;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-content {
	border-bottom: var(--plaintext) solid 2px;
	border-top: var(--plaintext) solid 2px;
	min-width: 30em;
	flex: 2;
	padding: 4em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.main-content h3 {
	font-size: max(1.3vw, 10px);
	line-height: 1.75em;
	font-weight: 150;
	margin: 0;
}

.main-content h1 {
	font-size: max(1.7vw, 12px);
	line-height: 1.75em;
	font-weight: 400;
	margin: 0;
}

.main-content h2 {
	align-self: center;
	padding-top: 1.75em;
	font-size: max(1.7vw, 12px);
	font-weight: 450;
	color: var(--gold);
}

.tab {
	margin-left: 2.5em;
}


.side-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	min-width: 30vw;
}

.subheading {
	height: 25em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.subheading h1 {
	font-family: 'logo';
	font-size: 5em;
}

.split-content {
	display: flex;
	flex-flow: column wrap;
	min-width: 30em;
	flex: 1;
	padding: 3.5em;
	justify-content: center;
	align-items: center;
}

.split-content h2 {
	font-weight: bold;
}

.full-content {
	padding: 5em 25%;
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.text-wrapper {
	line-height: 1.75em;
}

img {
	display: block;
}

.image-wrapper {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
	width: fit-content;
	height: fit-content;
	margin: 20px 0 0 0;
	background: var(--base-lightest);
	padding: 8px;
	border-radius: 1%;
}
